
.login {
	margin: 0 auto;
	max-width: 500px;
	padding: 50px 0;
	text-align: center;
}

.logo img {
	
	height: 65%;
}

.login-type {
	margin-top: 50px;
}

.login-form {
	margin-top: 50px;
}

.login-form form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.login-form label {
	display: block;
	margin-bottom: 10px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #ccc;
	margin-bottom: 20px;
	width: 100%;
}

.login-form button[type="submit"] {
	padding: 10px 20px;
	border-radius: 5px;
	background-color: #4CAF50;
	color: #fff;
	border: none;
	cursor: pointer;
}

.login-form button[type="submit"]:hover {
	background-color: #3e8e41;
}

.login-form h2 {
	margin-bottom: 20px;
}

/* welcome.html css */

/* Global Styles */
body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

a {
	color: #333;
	text-decoration: none;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

/* Header Styles */
header {
	background-color: #fff;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
}

.logo {
	display: flex;
	align-items: center;
}

.logo img {
	height: 50px;
	margin-right: 10px;
}

nav ul {
	display: flex;
}

nav ul li {
	margin-right: 20px;
}

nav ul li:last-child {
	margin-right: 0;
}

nav ul li a:hover {
	text-decoration: underline;
}

/* Hero Styles */
.hero {
	

	text-align: center;
}

.hero h2 {
	font-size: 40px;
	margin-bottom: 20px;
}

.hero p {
	font-size: 18px;
	line-height: 1.5;
	margin-bottom: 30px;
}

.button {
	background-color: #333;
	border: none;
	border-radius: 5px;
	color: #fff;
	display: inline-block;
	font-size: 18px;
	padding: 10px 20px;
	text-transform: uppercase;
	transition: all 0.3s ease;
}

.button:hover {
	background-color: #666;
	cursor: pointer;
}

/* Features Styles */
.features {
	background-color: #fff;
	padding: 80px 20px;
	text-align: center;
}

.features h3 {
	font-size: 32px;
	margin-bottom: 30px;
}

.features ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.features li {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
	width: 300px;
}

.features li i {
	color: #333;
	font-size: 24px;
	margin-right: 10px;
}

/* About Styles */
.about {
	background-color: #f8f8f8;
	padding: 100px 20px;
	text-align: center;
}

.about h3 {
	font-size: 32px;
	margin-bottom: 30px;
}

.about p {
	font-size: 18px;
	line-height: 1.5;
	margin-bottom: 30px;
}

/* Footer Styles */
footer {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
}

footer p {
	font-size: 16px;
	margin: 0;
}

@media screen and (max-width: 768px) {
	/* Header Styles */
	header {
		padding: 10px;
	}
	
	.logo img {
		height: 40px;
		margin-right: 5px;
	}
	
	nav ul li {
		margin-right: 10px;
	}
	
	/* Hero Styles */
	.hero {
		padding: 80px 20px;
	}
	
	.hero h2 {
		font-size: 32px;
	}
	
	.hero p {
		font-size: 16px;
		margin-bottom: 20px;
	}	
}
.problem {
	background-color: #f8f8f8;
	text-align: center;
}

.problem h2 {
	font-size: 40px;
	margin-bottom: 20px;
}

/*.problem p {
	font-size: 18px;
	line-height: 1.5;
	margin-bottom: 50px;
}*/

#map {
        height: 80%;
        width: 80%;
        margin: auto;
      }
/* makes the gmap fill the window*/
html,
body{
        width: 100vw;
        height: 100vh;
}

.img01{
	height: 10%;
	width: 100%;
}
.button {
  background-color:dodgerblue;
  border: 0 solid #E5E7EB;
  box-sizing: border-box;
  color: #000000;

  font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  

  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  width: 100%;
  max-width: 460px;

  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-53:focus {
  outline: 0;
}

.button-53:after {
  content: '';
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.button-53:hover:after {
  bottom: 2px;
  left: 2px;
}

@media (min-width: 768px) {
  .button-53 {
    padding: .75rem 3rem;
    font-size: 1.25rem;
  }
}
.img01{
	width: 50%;
}
	

